/* DEBUG
**************************************************************** */
.debug header {
  height: 100px;
  background-color: var(--black);
}

.debug .jumbo {
  height: 400px;
  background-color: var(--prov);
}

.debug .review_ps5 {
  height: 500px;
  background-color: var(--white);
}

.debug .game_list {
  height: 400px;
  background-color: var(--gray);
}

.debug .explore_ps5 {
  height: 400px;
}

.debug .ps_plus {
  height: 400px;
  background-color: var(--lightgray);
}

.debug .discount {
  height: 400px;
}

.debug .ps_now {
  height: 400px;
  background-color: var(--blue);
}

.debug .social {
  height: 200px;
}

.debug footer {
  height: 300px;
  background-color: var(--lightblue);
}

/* UTILITY
**************************************************************** */
:root {
  --white: #ffffff;
  --black: #000000;
  --gray: #1F1F1F;
  --lightgray: #BEBCBB;
  --blue: #161C3B;
  --graybtn: #363636;
  --lightblue: #00439C;
  --orangebtn: #CD3D0F;
  --bluebtn: #2D64E6;
  --lightgraybtn: #D9DADC;
  --whitebtn: #F5F5F5;
  --prov: #EE96F5;
  --op_blue: #2d65e648;
  --blue_text: #2D64E6;
  --orange_b: #cd3e0f46;
}
/* /color */

.gray_btn {
  background-color: var(--graybtn);
}

.blue_btn {
  background-color: var(--bluebtn);
}

.orange_btn {
  background-color: var(--orangebtn);
}
/* btn colors */

.fs_7 {
  font-size: 3.5rem;
}
/* font */

/* NAV
***************************************************************** */
header {
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 3;
}
header .h_banner {
  background-color: var(--black);
}

nav {
  background-color: var(--white);
}
nav .dd_hover {
  display: none;
}

nav li.nav-item:hover .dd_hover {
  display: block;
  position: relative;
  top: 2px;
}

nav li.nav-item:hover .dd_no_hover {
  display: none;
}

.border_g:hover {
  border: 2px solid var(--graybtn);
  margin-left: -0.25rem;
  margin-right: -0.1rem;
}

.gray_btn:hover {
  border: 2px solid white;
}

/* MAIN
*********************************************************************** */
.returnal {
  background-image: url("./img/jumbo-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat no-repeat;
  height: 700px;
  margin-top: 7.2rem;
}

.type_button {
  display: inline-block;
}

.orange_btn:hover {
  border: 2px solid black;
}

.border_o:hover {
  border: 2px solid var(--orangebtn);
}
/* /first section */

.br_1 {
  border-radius: 1rem;
  padding: 0.05rem 0.1rem;
}

.border_b:hover {
  border: 2px solid var(--op_blue);
  border-radius: 1rem;
  filter: drop-shadow(0 0 1rem var(--bluebtn));
  cursor: pointer;
}

.blue_text {
  color: var(--blue_text);
}
/* /carousel */

.border_btn_b:hover {
  border: 2px solid var(--bluebtn);
}

.blue_btn:hover {
  border: 2px solid var(--white);
}
/* /console btn */

.selection {
  min-height: 260px;
  cursor: pointer;
}
.selection:hover {
  border-bottom: 3px solid var(--bluebtn);
}
/* /carousel products */

.two_players {
  background-image: url("./img/it-takes-two-hero-banner-desktop.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat no-repeat;
  height: 700px;
  margin-top: 7.2rem;
}
/* /Two players */

.game_list {
  background-color: var(--graybtn);
}

.border_r:hover {
  border: 2px solid var(--orange_b);
  border-radius: 1rem;
  filter: drop-shadow(0 0 1rem var(--orangebtn));
  cursor: pointer;
}
/* /game list */

.card {
  border: 0px;
}
/* Details PS */

.ps_plus {
  background-color: var(--lightgray);
  height: 450px;
}

.border_lg:hover {
  border: 2px solid var(--lightgraybtn);
}

.lg_btn:hover {
  border: 2px solid var(--lightgray);
}

.lg_btn {
  background-color: var(--lightgraybtn);
}